<section id="galerie-statica">
    <h2>Galerie</h2>
    <div id="grid-galerie">
        <% 
            literaIndex = 65; //indexarea de la A
            d = new Date()  //obtinem data curenta
            ora = d.getHours(); //obtinem ora curenta
            let intervalTimp;

            if(ora >= 5 && ora < 12) intervalTimp = "dimineata";
            else if(ora >= 12 && ora < 20) intervalTimp = "zi";
            else intervalTimp = "noapte";


            //filtram imaginile pt momentul zilei
            //verifica daca img are o propr. timp si daca are, verifica daca lista timp a imaginii include momentul zilei curente
            let imaginiFiltrate = locals.imagini.filter(imag => imag.timp && imag.timp.includes(intervalTimp));


            //calculam cate imagini sa fie afisate
            //afisam minim 6, sau cel mai mare multiplu de 3 mai mic decat nr de imagini filtrate
            let nrAfisate = Math.max(6, imaginiFiltrate.length - imaginiFiltrate.length % 3);
            //luam primele nrAfisate elemente din imaginiFiltrate
            let imaginiAfisate = imaginiFiltrate.slice(0, nrAfisate);

            for (let imag of imaginiAfisate) {
                let altText = imag.alt || imag.nume;    //pt ALT
        %>
                    <figure>
                        <picture>
                            <source srcset = "<% imag.fisier_mediu %>" media = "screen and (max-width:1000px)" />
                            <source srcset = "<% imag.fisier_mic %>" media = "screen and (max-width:600px)" />
                            
                            <img src ="<%- imag.fisier %>" alt = "<%- altText %>" title = "<%- imag.descriere %>">
                        </picture> 
                        <figcaption>
                            <span>
                                <%= String.fromCharCode(literaIndex++) %>. <%= imag.descriere %>
                            </span>
                            
                            
                        </figcaption>
                    </figure>
                <% } %>
    </div>
</section>